$white: #ffffff;
$pink: #ff7373;
$darkMaroon: #472424;
$lightMaroon: #623232;
$lightBlue: #4bd8cd;
$lightPinkBeige: #dcc5b8;
$bannerBackground: #f0efee;
$premiumBackground: #cecece;
$premiumText: #6b7072;
$priceGalleryHeadings: #bdb9b5;
$priceGalleryText: #8a8784;
$linearGradient: linear-gradient( 45deg, rgb(71,36,36) 0%, rgba(71,36,36,0) 100%);